<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{>navbar}}
    <br><br>
    <div class="container">
        <form id="form">
            <div class="form-group">
                <label>New Paste : </label>
                <textarea class="form-control" rows="10" id="paste" name="paste"></textarea>
            </div>
            <div class="form-group">
                <label for="expire">Paste Expires In : </label>
                <select class="form-control" id="expire">
                    <option>Never</option>
                    <option>10 Minutes</option>
                    <option>2 Minutes</option>
                    <option>1 Hours</option>
                    <option>5 Hours</option>
                    <option>1 Day</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Create Paste</button>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        const form = document.querySelector("#form");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            console.log('clicked')
            const paste = document.querySelector("#paste").value;
            const expires = document.querySelector("#expire").value

            fetch('/', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    data: paste,
                    expiryDate: expires
                })
            }).then().catch()
        })        
    </script>
</body>

</html>